
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Fecha</h2>

@section izq
{
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit natoque cubilia fusce curabitur, aliquet aptent dignissim tempor viverra magna suscipit vel platea semper, tortor dictum sodales vulputate morbi nascetur ad interdum vivamus sapien. Pellentesque egestas.</p>     
}

@section der
{
    <div id="fotos">
        <img id="foto1" src="../../img/intcolon1.jpg" alt="Alternate Text" />
        <img id="foto2" src="../../img/intcolon2.jpg" alt="Alternate Text" />
        <img id="foto3" src="../../img/intcolon3.jpg" alt="Alternate Text" />
    </div>
}
